<%- include('partials/header')  %>
  
<form action="/login" method="POST">
  <% if (typeof error !== 'undefined') { %>
    <p><%= error %></p>
  <% } %>
  <label for="email">Email:</label>
  <input type="text" name="email" id="email" value="<%= typeof email === 'undefined' ? '' : email %>">

  <label for="password">Password</label>
  <input type="password" name="password" id="password">

  <button>Login</button>
</form>

<%- include('partials/footer') %>
