<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tweet</title>
</head>
<body>
  <form action="/tweets" method="POST">
    <input type="text" name="tweet" id="tweet" placeholder="What do you wanna say?" value="<%= typeof tweet !== 'undefined' ? tweet : '' %>">
    <div><%= typeof error !== 'undefined' ? error : '' %></div>
    <button>Go</button>
  </form>
</body>
</html>