<%- include('../partials/header') %>

<form action="/tweets/<%= tweet.id %>?_method=PATCH" method="POST">
  <input type="text" name="text" id="text" value="<%= tweet.text %>">
  <button>Update</button>
</form>

<%- include('../partials/footer') %>
