<%- include('../partials/header') %>


<form action="/tweets" method="POST">
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Speak Your Mind (144 chars)</label>
    <textarea class="form-control" name="tweet" rows="3" autofocus>
      <%= typeof tweet !== 'undefined' ? tweet : '' %>
    </textarea>
    <div class="text-danger mt-2"><%= typeof error !== 'undefined' ? error : '' %></div>
  </div>

  <button type="submit" class="btn btn-primary btn-lg">Go</button>
</form>

<%- include('../partials/footer') %>
